@using System.Text.RegularExpressions
@model IEnumerable<SymCMS.ViewModels.PostViewModel>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SymCMS</h1>
    <p class="lead">This is a SymCMS blog.</p>
    <p>
        <a href="/Home/Index" class="btn btn-primary btn-lg">SymCMS</a>
    </p>
</div>


<h1 class="text-capitalize text-primary">Latest posts</h1>

<div id="carouselControls" class="carousel slide shadow shadow-lg" data-ride="carousel">
    <div class="carousel-inner p-2">

        @foreach (var post in Model)
        {
            <div class="carousel-item @if (post.Equals(Model.Last()))
                                      {
                                          <text>active</text>
                                      } } bg-secondary" style="max-height: 700px;">
                <div class="img-container">
                    <img src="@Html.ValueFor(model => post.HeadImageBase64)" alt="..." class="img-head">
                    <div class="w3-hide-small text-block-index">
                        <h4 class="display-2">@Html.DisplayFor(model => post.Title)</h4>
                    </div>
                </div>
                <div class="text-index-post">
                    @Html.Raw(post.ContentPreview)
                </div>
                <p class="mt-1 position-absolute" style="bottom: 10px; right: 20px; z-index: 3">
                    <a class="btn btn-info" href="/Posts/Details/@Html.ValueFor(model => post.Id)">Details &raquo;</a>
                </p>
            </div>
        }
    </div>
    <a class="carousel-control-prev" href="#carouselControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>