@model IEnumerable<SymCMS.ViewModels.PostViewModel>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SymCMS</h1>
    <p class="lead">This is a SymCMS blog.</p>
    <p><a href="/Home/Index" class="btn btn-primary btn-lg">SymCMS</a></p>
</div>


<h1 class="text-capitalize text-primary">Latest posts</h1>

<div id="carouselExampleControls" class="carousel slide shadow shadow-lg" data-ride="carousel">
    <div class="carousel-inner p-2">
       
        @foreach (var post in Model.Reverse())
        {
        <div class="carousel-item @if (post.Equals(Model.Last())) { <text>active</text>} }">
            <h2>@post.Title</h2>
            <hr />
            <div>
                <h3 class="text-warning rounded w-50">@post.Category.Name</h3>
            </div>
            <hr />
            <div style="height: 10rem; margin: 1rem">
                @if (post.Content.Length >= 1000)
                {
                    post.Content = post.Content.Substring(0, 1000) + "...";
                }
                @Html.DisplayFor(modelItem => post.Content)
            </div>
        <p class="mt-1"><a class="btn btn-info" href="/Admin/Details/@post.Id">Details &raquo;</a></p>
        </div>
        }
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>