@using SymCMS.ViewModels
@model SymCMS.ViewModels.PostViewModel

@{
    ViewBag.Title = "Details";
    //Layout = "~/Views/Shared/_LayoutPanel.cshtml";
    if (!ViewData.ContainsKey("postId"))
    {
        ViewData.Add("postId", Model.Id);
    }
    else
    {
        ViewData["postId"] = Model.Id;
    }
}

<div>
    <div class="img-container">
        <img src="@Html.ValueFor(model => model.HeadImageBase64)" alt="..." class="img-head">
        <div class="w3-hide-small text-block">
            <h4 class="display-1">@Html.DisplayFor(model => model.Title)</h4>
        </div>
    </div>
    <hr />
    <div class="card bg-transparent" style="width:auto;">

        <div class="card-body bg-transparent w-auto">
            @Html.Raw(Model.Content)
        </div>

    </div>
</div>
<hr />
<div>
    @if (Model.CommentsEnabled)
    {
    @Html.Partial("~/Views/Shared/_CommentSection.cshtml", new List<CommentViewModel>(ViewBag.ExComments), ViewData)
    }
</div>
@if (!ViewData.ContainsKey("partial"))
{
<div class="row mx-3">
    @if (User.IsInRole("Administrator") || User.IsInRole("Editor"))
    {
        <form action="/Admin/Edit/@Model.Id">
            <input type="submit" class="btn btn-danger rounded mr-2" value="Edit" />
        </form>
    }
    <form action="/Admin/PostsView/">
        <input type="submit" value="Back to List" class="btn btn-outline-dark" />
    </form>
</div>
}