@using System.Text.RegularExpressions
@model IEnumerable<SymCMS.ViewModels.PostViewModel>

@{
    ViewBag.Title = "PostssView";
}

<div class="container">
    <h2>Blog</h2>

    @if (User.Identity.IsAuthenticated) {
    <form action="/Admin/CreatePost">
        <button class="btn btn-outline-primary">Create New</button>
    </form>
    }
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="card m-3 w-100">
                <div class=" bg-secondary shadow-lg" style="max-height:700px; height:700px;">
                    <div class="img-container">
                        <img src="@Html.ValueFor(model => item.HeadImageBase64)" alt="..." class="img-head" style="max-height:700px; ">
                        <div class="w3-hide-small text-block-index">
                            <h4 class="display-2">@Html.DisplayFor(model => item.Title)</h4>
                        </div>

                    </div>
                    <div @*class="form-text rounded card-text mb-3"*@ class="text-index-blog">
                        @if (item.ContentPreview == string.Empty || item.ContentPreview == null)
                        {
                            item.Content = Regex.Replace(item.Content, "<.*?>", String.Empty);
                            if (item.Content.Length >= 1000)
                            {
                                item.Content = item.Content.Substring(0, 1000) + "...";
                            }
                            @Html.Raw(item.Content)
                        }
                        else
                        {
                            @Html.Raw(item.ContentPreview)
                        }
                    </div>
                    <div>

                        @if (User.Identity.IsAuthenticated)
                        {
                            <p class="position-absolute" style="right:30px; bottom:10px;z-index: 3">
                                <a class="btn btn-info" href="/Admin/Details/@item.Id">Details &raquo;</a>
                            </p>
                        }
                        else
                        {
                            <p class="mt-1 position-absolute" style="right:30px; bottom:10px;z-index: 3">
                                <a class="btn btn-info" href="/Posts/Details/@item.Id">Details &raquo;</a>
                            </p>
                        }
                    </div>
                </div>

            </div>
        }
    </div>
</div>