@model IEnumerable<SymCMS.ViewModels.PostViewModel>

@{
    ViewBag.Title = "PagesView";
}

    <div class="container">
        <h2>PagesView</h2>

        <form action="/PostModels/Create">
            <button class="btn btn-outline-primary">Create New</button>
        </form>

        <div class="row">
            @foreach (var item in Model)
            {
                <div class="card m-3" style="width:18rem;">

                    <div class="card-body bg-light shadow-lg">

                        <h2 class="border-bottom border-dark card-title">@Html.DisplayFor(modelItem => item.Title)</h2>
                        <div class="form-text rounded border border-primary card-text mb-3"> @Html.DisplayFor(modelItem => item.Content)</div>

                        <p>
                            <a class="btn btn-primary" href="PostModels/Edit/@item.Id">Edit</a>
                            <a class="btn btn-primary" href="PostModels/Details/@item.Id">Details</a>
                            <a class="btn btn-primary" href="PostModels/Delete/@item.Id">Delete</a>
                        </p>

                    </div>

                </div>
            }
        </div>
    </div>