<!-- Modal -->
@model SymCMS.ViewModels.PostViewModel
@* <a href="~/Views/Shared/_CategorySelectModal.cshtml">~/Views/Shared/_CategorySelectModal.cshtml</a>*@
<div class="modal fade" id="modal-url" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <form class="selectionForm--Category">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">choose your category</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="select2-modal-body">
                    If you can not find your category in the list you can create it by yourself.
                    <hr />
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <select id="categorySelector" class="btn btn-outline-secondary dropdown-toggle">
                                @foreach (var category in ViewBag.ExCategories)
                                {
                                    <option class="dropdown-item" value="@category.CategoryId" href="#">@category.Name</option>
                                }
                                <separator />
                                <option class="dropdown-item" id="CategoryCreate" value="0">Create category</option>
                            </select>
                        </div>
                        <input type="text" id="CategoryName" class="form-control" aria-label="Category">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" id="selectCategoryBtn" data-dismiss="modal" class="btn btn-success">Choose</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#CategoryName').val($('#categorySelector option:selected').html());
        $('#categorySelector').click(function() {
            $('#CategoryName').val($('#categorySelector option:selected').html());
        });
        $('#selectCategoryBtn').click(function () {
            var e = document.getElementById('categorySelector');
            if (e.options[e.selectedIndex].value == 0) {
                // window.location.href = "/Admin/CreateCategory?name=" + $('#CategoryName').val();
                $.ajax({
                    type: "POST",
                    url: "/Admin/CreateCategory/",
                    data: { Name: $('#CategoryName').val() },
                    dataType: typeof (string)
                });
            } else {
                $('#category').val($('#CategoryName').val());
                $('#CategoryId').val($('#categorySelector option:selected').val());
                $('#categoryName').val($('#categorySelector option:selected').html());
            }
        });
    });
</script>