@using SymCMS.ViewModels
@model SymCMS.ViewModels.PageViewModels

@{
    ViewBag.Title = "Details";
    if (!ViewData.ContainsKey("pageId"))
    {
        ViewData.Add("pageId", Model.PageId);
    }
    else
    {
        ViewData["pageId"] = Model.PageId;
    }
    // Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}
<div class="mt-5">
    <h3>@Model.Title</h3>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

    </dl>
</div>
<div>
    @Html.Partial("~/Views/Shared/_CommentSection.cshtml", new List<CommentViewModel>(ViewBag.ExComments), ViewData)
</div>
