/* Set padding to keep content from hitting the edges */
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700|Oswald:400,300,700);

.mainMenuOverlay.open .navire {
    -webkit-transition: right 28s ease 1s;
    right: 70%;
    transition: right 28s ease 1s;
}

/* ### main Menu Overlay */

.mainMenuOverlay {
    -webkit-transition: bottom 0.5s ease;
    bottom: -420px;
    height: 420px;
    left: 0;
    position: fixed;
    right: 0;
    transition: bottom 0.5s ease;
    z-index: 999;
}

.mainMenuOverlay.open { bottom: 0; }

.mainMenuOverlay .toggleMenu {
    -webkit-transition: box-shadow 0.5s ease, top 0.5s ease;
    background-color: #65B5D0;
    border: 1px solid #FFF;
    border-radius: 80px;
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.2) inset, 0 0 16px -4px #063343;
    color: #FFF;
    cursor: pointer;
    display: block;
    font-size: 24px;
    height: 62px;
    left: 50%;
    line-height: 58px;
    margin: -31px 0 0 -31px;
    position: absolute;
    text-align: center;
    top: -12px;
    transition: box-shadow 0.5s ease, top 0.5s ease;
    width: 62px;
}

.mainMenuOverlay .toggleMenu:hover, .mainMenuOverlay .toggleMenu:active { }

.mainMenuOverlay.open .toggleMenu {
    background-color: #2298C3;
    top: 50%;
}

.mainMenuOverlay .itemMenuBox {
    -ms-transform-origin: 31px 31px;
    -webkit-transform-origin: 31px 31px;
    -webkit-transition: all 1s ease 0.4s;
    background: url(https://res.cloudinary.com/dioieuprs/image/upload/v1466688705/floating-menu/go2.png) no-repeat center center;
    background-size: 28px auto;
    border-radius: 40px;
    height: 62px;
    left: 50%;
    margin: -31px 0 0 -31px;
    position: absolute;
    text-align: right;
    top: 50%;
    transform-origin: 31px 31px;
    transition: all 1s ease 0.4s;
    width: 142px;
}

.mainMenuOverlay.open .itemMenuBox {
    -webkit-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
    width: 182px;
}

.mainMenuOverlay .itemMenuBox.crouselAdd {
    -ms-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}

.mainMenuOverlay .itemMenuBox.galleryAdd {
    -ms-transform: rotate(330deg);
    -webkit-transform: rotate(330deg);
    transform: rotate(330deg);
}

.mainMenuOverlay .itemMenuBox.editorAdd {
    -ms-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
}


.mainMenuOverlay .itemMenuBox .itemMenu {
    background-color: #1f97c2;
    background-position: center center;
    background-repeat: no-repeat;
    border: 2px solid rgba(255, 255, 255, 0.6);
    border-radius: 40px;
    border-radius: 40px;
    color: #FFF;
    display: inline-block;
    font-size: 28px;
    height: 67px;
    line-height: 58px;
    text-align: center;
    transition: all 0.8s ease;
    width: 67px;
}

.mainMenuOverlay .itemMenuBox.crouselAdd .itemMenu {
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.mainMenuOverlay .itemMenuBox.galleryAdd .itemMenu {
    -ms-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
}

.mainMenuOverlay .itemMenuBox.editorAdd .itemMenu {
    -ms-transform: rotate(330deg);
    -webkit-transform: rotate(330deg);
    transform: rotate(330deg);
}

/* Hover */

.mainMenuOverlay .itemMenuBox.crouselAdd .itemMenu:hover {
    -ms-transform: rotate(450deg);
    -webkit-transform: rotate(450deg);
    transform: rotate(450deg);
}

.mainMenuOverlay .itemMenuBox.galleryAdd .itemMenu:hover {
    -ms-transform: rotate(390deg);
    -webkit-transform: rotate(390deg);
    transform: rotate(390deg);
}

.mainMenuOverlay .itemMenuBox.editorAdd .itemMenu:hover {
    -ms-transform: rotate(690deg);
    -webkit-transform: rotate(690deg);
    transform: rotate(690deg);
}

.floating {
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-name: Floating;
    -moz-animation-timing-function: ease-in-out;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: Floatingx;
    -webkit-animation-timing-function: ease-in-out;
}

@-webkit-keyframes Floatingx {
    from { -webkit-transform: translate(0, 0px); }

    65% { -webkit-transform: translate(0, 5px); }

    to { -webkit-transform: translate(0, -0px); }
}

@-moz-keyframes Floating {
    from { -moz-transform: translate(0, 0px); }

    65% { -moz-transform: translate(0, 5px); }

    to { -moz-transform: translate(0, -0px); }
}

.floating2 {
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-name: Floating2;
    -moz-animation-timing-function: ease-in-out;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: Floatingx2;
    -webkit-animation-timing-function: ease-in-out;
}

@-webkit-keyframes Floatingx2 {
    from { -webkit-transform: translate(0, 0px); }

    45% { -webkit-transform: translate(0, 8px); }

    to { -webkit-transform: translate(0, -0px); }
}

@-moz-keyframes Floating2 {
    from { -moz-transform: translate(0, 0px); }

    45% { -moz-transform: translate(0, 8px); }

    to { -moz-transform: translate(0, -0px); }
}

.floating3 {
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-name: Floating3;
    -moz-animation-timing-function: ease-in-out;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: Floatingx3;
    -webkit-animation-timing-function: ease-in-out;
}

@-webkit-keyframes Floatingx3 {
    from { -webkit-transform: translate(0, 0px); }

    50% { -webkit-transform: translate(2px, 4px); }

    to { -webkit-transform: translate(0, -0px); }
}

@-moz-keyframes Floating3 {
    from { -moz-transform: translate(0, 0px); }

    50% { -moz-transform: translate(2px, 4px); }

    to { -moz-transform: translate(0, -0px); }
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/

.dl-horizontal dt { white-space: normal; }

/* Set width on the form input elements since they're 100% wide by default */

input,
select { max-width: 280px; }

textarea {
    height: auto;
    overflow: hidden;
}


.switch_box {
    -ms-flex: 1;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -webkit-box-flex: 1;
    -webkit-box-pack: center;
    align-items: center;
    background-color: transparent;
    content: "Visible";
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex: 1;
    height: auto;
    justify-content: center;
    width: auto;
}

/* Switch 1 Specific Styles Start */

input[type="checkbox"].switch_1 {
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-transition: all .2s ease-in-out;
    background: #ddd;
    border-radius: 3em;
    cursor: pointer;
    font-size: 30px;
    height: 1.5em;
    outline: none;
    position: relative;
    transition: all .2s ease-in-out;
    width: 3.5em;
}

input[type="checkbox"].switch_1:checked { background: #0ebeff; }

input[type="checkbox"].switch_1:after {
    -webkit-box-shadow: 0 0 .25em rgba(0, 0, 0, .3);
    -webkit-transform: scale(.7);
    -webkit-transition: all .2s ease-in-out;
    background: #ffffff;
    border-radius: 50%;
    box-shadow: 0 0 .25em rgba(0, 0, 0, .3);
    content: "";
    height: 1.5em;
    left: 0;
    position: absolute;
    transform: scale(.7);
    transition: all .2s ease-in-out;
    width: 1.5em;
}

input[type="checkbox"].switch_1:checked:after { left: calc(100% - 1.5em); }



#form-container { width: 500px; }

.change-link {
    background-color: #000;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    bottom: 0;
    color: #fff;
    opacity: 0.8;
    padding: 4px;
    position: absolute;
    text-align: center;
    width: 150px;
}

.change-link:hover {
    color: #fff;
    text-decoration: none;
}


.img-head {
    height: auto;
    width: 100%;
}

.img-container {
    background: rgba(0, 0, 0, .3);
    position: relative;
}

.left-bottom {
    color: #ffffff;
    left: 10%;
    position: absolute;
    top: 90%;
    transform: translate(-10%, -90%);
}

.text-block {
    background-color: rgba(0, 0, 0, .5);
    bottom: 20px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
    right: 20px;
}

.text-block-index {
    background-color: rgba(0, 0, 0, .5);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
    right: 20px;
    top: 20px;
}

.text-index-post {
    background-color: rgba(0, 0, 0, .5);
    bottom: 30px;
    color: white;
    left: 10px;
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
    right: 120px;
}


.text-index-blog {
    background-color: rgba(0, 0, 0, .5);
    bottom: 20px;
    color: white;
    left: 30px;
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
    right: 130px;
}



#demo {
    height: 100%;
    overflow: hidden;
    position: relative;
}


.green { background-color: #6fb936; }

.thumb { margin-bottom: 30px; }

.page-top { margin-top: 85px; }


img.zoom {
    -moz-transition: all .3s ease-in-out;
    /*-ms-transition: all .3s ease-in-out;*/
    -o-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    border-radius: 5px;
    height: 200px;
    object-fit: cover;
    width: 100%;
}

img.zoom:hover {
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.transition {
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.modal-header { border-bottom: none; }

.modal-title { color: #000; }

@media (min-width: 576px) {
    .modal-dialog {
        margin: 1.75rem auto;
        max-width: 100%;
    }
}

.vertical-nav {
     box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
     height: 100vh;
     left: 0;
     min-width: 17rem;
     overflow-y: auto;
     position: fixed;
     top: 0;
     transition: all 0.4s;
     width: 20rem;
 }

.page-content {
    margin-left: 17rem;
    transition: all 0.4s;
    width: calc(100% - 17rem);
}

/* for toggle behavior */

#sidebar.active {
    margin-left: -20rem;
}

#content.active {
    margin: 0;
    width: 100%;
}

body {
    background: #fff;
    min-height: 100vh;
    overflow-x: hidden;
}

.separator {
    border-bottom: 1px dashed #fff;
    margin: 3rem 0;
}

.text-uppercase {
    letter-spacing: 0.1em;
}

.text-gray {
    color: #aaa;
}

.z-index {
    z-index: 1000;
}
